<?xml version="1.0"?>
<packages>
    <package id="chocolateygui" />

    <package id="vim" />
    <package id="mery" />
    <package id="atom" />

    <package id="git" />

    <package id="mobaxterm" />
    <package id="teraterm" />
    <package id="wireshark" />
    <package id="winscp" />
    <package id="winmerge" />
    <package id="nmap" />
    <package id="curl" />
    <package id="Everything" />
    <package id="ack" />
    <package id="7zip" />
    <package id="libreoffice" />

    <package id="googlechrome" />

    <package id="foobar2000" />
    <package id="vlc" />

    <package id="ccleaner" />
    <package id="recuva" />
    <package id="defraggler" />
    <package id="speccy" />

    <package id="malwarebytes" />
    <package id="Gpg4win" />
    <package id="glasswire" />

    <package id="gdipp" />

<!-- インストールに失敗するもの一覧
    <package id="emacs" />
    <package id="ctags" />

    <package id="keepassx" />

    <package id="cmder" />

    <package id="haskell-stack" />
    <package id="sourcecodepro" />
    <package id="inconsolata" />
    <package id="koruri" />
    <package id="ubuntu.font" />
    <package id="oxygenmono" />
    <package id="Desktops" />
    <package id="global" />
    <package id="msys2" /> -->
</packages>
